.DS_Store
build/
**/build/
*.o
*.elf
*.3dsx
*.smdh
*.cia
*.3ds
*.map
*.log
dist/
.vscode/
.idea/
server/cache/
server/runtime/
server/logs/
apps/terminal/packaging/cia/banner.bnr
apps/terminal/packaging/cia/banner_silence.aiff
apps/terminal/packaging/cia/banner_silence.wav
